.slider-container {
    width: 80%;
    margin: 20px auto;
}
.value-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.value {
    width: 50px;
    text-align: center;
}

div#filter-search {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px 0; /* Add some margin for spacing */
}